{% extends 'base.html.twig' %}

{% block body %}
    <div class="container body">
        <div class="row justify-content-center">
            <div class="form-group col-12 col-sm-12 col-md-8 text-center mt-5 justify-content-center">
                <h2 class="h3 mb-3 font-weight-normal">Inscription</h2>
                {{ form_start(formAjout) }}
                <div class="my-custom-class-for-errors alert-danger">
                    {{ form_errors(formAjout) }}
                    <span class="text-danger">{{ form_errors(formAjout.usernames) }}</span>
                    <span class="text-danger">{{ form_errors(formAjout.passwordsecu) }}</span>
                    <span class="text-danger">{{ form_errors(formAjout.imageprofil) }}</span>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                        {{ form_row(formAjout.usernames) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        {{ form_row(formAjout.passwordsecu) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        {{ form_row(formAjout.imageprofil) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
                        {{ form_row(formAjout.save) }}
                        {{ form_end(formAjout) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}