{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="text-center mt-5 mb-3">Modifier mon profil</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                {{ form_start(formUserEdit) }}
                <div class="my-custom-class-for-errors alert-danger">
                    {{ form_errors(formUserEdit) }}
                    <span class="text-danger">{{ form_errors(formUserEdit.usernames) }}</span>
                    <span class="text-danger">{{ form_errors(formUserEdit.imageprofil) }}</span>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        {{ form_row(formUserEdit.usernames) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        {{ form_row(formUserEdit.imageprofil) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
                        {{ form_rest(formUserEdit) }}
                        {{ form_end(formUserEdit) }}
                        <a class="btn btn-secondary mt-2" href="{{ path('mon_compte') }}">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}