{% extends 'base.html.twig' %}


{% block body %}
    <h2 class="text-center mt-5 mb-3">Inscription</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                {{ form_start(formAjout) }}
                <div class="my-custom-class-for-errors alert-danger">
                    {{ form_errors(formAjout) }}
                    <span class="text-danger">{{ form_errors(formAjout.usernames) }}</span>
                    <span class="text-danger">{{ form_errors(formAjout.passwordsecu) }}</span>
                    <span class="text-danger">{{ form_errors(formAjout.imageProfil) }}</span>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        {{ form_row(formAjout.usernames) }}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        {{ form_row(formAjout.passwordsecu) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        {{ form_row(formAjout.imageProfil) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 justify-content-center">
                        {{ form_rest(formAjout) }}
                        {{ form_row(formAjout.save) }}
                        {{ form_end(formAjout) }}
                        <a class="btn btn-secondary mt-2" href="{{ path('home') }}">Retour</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}